/* #nclcdr.css Launch: 11/25/08 # Revise: 10/07/10 */
body { background: 
 
    margin:0px;
}
#keyarea{
width:100%;
}

.deflink .deflink:active, .deflink:link, .deflink:visited, .deflink:hover {
    text-decoration: none;
    color: #000000;
}

.deflink:hover {
    text-decoration: underline;
    color: rgb(6,24,68);
}

.nclfmttitle{
    font-size: 150%;
    color:black;
    font-weight:bold;
}


/* 表格呈現內容--詳目//資料區塊+全文檔縮圖區塊(預設) */
.tableoutfmt1{
margin: 5px;
width:100%;
border: 0px solid black;
}
.tableoutfmt1 .ftd1{
width:98%;
vertical-align: top;
}
.tableoutfmt1 .ftd2{
width:2%;
vertical-align: top;
}




/*** 推薦, 標籤 ***/

.totalfunc_table{
width:100%;
}

#gs32_usercommand{
width:98%;
}

/*** Tabmenu 包含整個(index tab)上方區塊 style ***/
#gs32_usercommand .yui-nav{
border:solid #737374;
border-width:0 0 2px 0;
Xposition:relative;
zoom:1;
background:#FFFFFF;
margin-top:2px;
width:100%;
}

/* Tabmenu (index tab)選項之間的間距 */
#gs32_usercommand .yui-nav li{
margin:0 0 -2px 0;
padding:0 1px 0 0;
}

/* Tabmenu (index tab)選項 選擇後的效果 */
#gs32_usercommand .selected a, #gs32_usercommand .selected a:focus, #gs32_usercommand .selected a:hover
{
background-color: #e0d9ce;
}

/* Tabmenu (index tab)選項 移過去 a:hover 效果 */
#gs32_usercommand a:hover{
background:#e0d9ce !important;
margin:0px;
padding:0px;
}

/* Table menu 下方的div 區塊 style */
#gs32_usercommand .yui-content {
padding:1px;
border: 1px solid #dbd3c6;
min-height:100px;
}
/** 輸出區塊.設成0px.不能將此值設成important否則裡面的tabview border都會被設成此屬性 **/





/*** 詳目 => 分成table view 方式 ***/

/*** Tabmenu 包含整個(index tab)上方區塊 style ***/
#gs32_levelrecord .yui-nav{
border:solid #737374;
border-width:0 0 2px 0;
Xposition:relative;
zoom:1;
background:#FFFFFF;
margin-top:2px;
width:100%;
}

/* Tabmenu (index tab)選項之間的間距 */
#gs32_levelrecord .yui-nav li{
margin:0 0 -2px 0;
padding:0 1px;
}

/* Tabmenu (index tab)選項 選擇後的效果 */
#gs32_levelrecord .selected a, #gs32_levelrecord .selected a:focus, #gs32_levelrecord .selected a:hover{
	background-color: #e0d9ce;
}

#gs32_levelrecord .selected em{
	color:#5b4937;
	font-weight: bold;
	height:1.4em;
}

/* Tabmenu (index tab)選項 移過去 a:hover 效果 */
#gs32_levelrecord a:hover{
background:#e0d9ce !important;
margin:0px;
padding:0px;
}

/* Table menu 下方的div 區塊 style */
#gs32_levelrecord .yui-content {
padding:1px;
border: 1px solid #dbd3c6;
min-height:100px;
}
/** 輸出區塊.設成0px.不能將此值設成important否則裡面的tabview border都會被設成此屬性 **/





/*** 輸出&結果分析 => 分成table view 方式 ***/

/*** Tabmenu 包含整個(index tab)上方區塊 style ***/
#gs32_outputresult .yui-nav{
border:solid #737374;
border-width:0 0 1px 0;
Xposition:relative;
zoom:1;
background:#FFFFFF;
margin-top:2px;
width:100%;
}

/* Tabmenu (index tab)選項之間的間距 */
#gs32_outputresult .yui-nav li{
margin:0 0 -2px 0;
padding:0 1px 0 0;
}

/* Tabmenu (index tab)選項 選擇後的效果 */
#gs32_outputresult .selected a, #gs32_outputresult .selected a:focus, #gs32_outputresult .selected a:hover{
background-color: #e0d9ce;
}

#gs32_outputresult .selected em{
color:#5b4937;
	font-weight: bold;
	height:1.4em;
}

/* Tabmenu (index tab)選項 移過去 a:hover 效果 */
#gs32_outputresult a:hover{
background:#e0d9ce !important;
margin:0px;
padding:0px;
}

/* Table menu 下方的div 區塊 style */
#gs32_outputresult .yui-content {
padding:1px;
border: 1px solid #dbd3c6;
min-height:100px;
}
/** 輸出區塊.設成0px.不能將此值設成important否則裡面的tabview border都會被設成此屬性 **/


/*** 瀏覽功能 => 分成table view 方式 ***/

/*** Tabmenu 包含整個(index tab)上方區塊 style ***/
#gs32_browsearea .yui-nav{
/*border:solid #737374;
border-width:0 0 1px 0;*/
Xposition:relative;
zoom:1;
background:#FFFFFF;
margin-top:2px;
width:100%;
}

/* Tabmenu (index tab)選項之間的間距 */
#gs32_browsearea .yui-nav li{
margin:0px;
padding:0 1px 0 0;
}

/* Tabmenu (index tab)選項 選擇後的效果 */
#gs32_browsearea .selected a, #gs32_browsearea .selected a:focus, #gs32_browsearea .selected a:hover{
background:#e1dbd0 url('/gs32/nclcdr/image/etds_tag_ac.gif') repeat-x bottom !important;
border: #CCCCCC 1px;
}

#gs32_browsearea .selected em{
font-size:120%;
font-weight: bold;
}

/* Tabmenu (index tab)選項 移過去 a:hover 效果 */
#gs32_browsearea a:hover{
background:#C98F8F !important;
margin:0px;
padding:0px;
}

/* Table menu 下方的div 區塊 style */
#gs32_browsearea .yui-content {
padding:1px;
border: 1px solid #CCCCCC;
min-height:100px;
}
/** 輸出區塊.設成0px.不能將此值設成important否則裡面的tabview border都會被設成此屬性 **/



/*** 輸出&E-mail&預覽 => 分成table view 方式 ***/

/*** Tabmenu 包含整個(index tab)上方區塊 style ***/
#gs32_outmailbrw .yui-nav{
border:solid #737374;
border-width:0 0 1px 0;
Xposition:relative;
zoom:1;
background:#FFFFFF;
margin-top:8px;
width:100%;
}

/* Tabmenu (index tab)選項之間的間距 */
#gs32_outmailbrw .yui-nav li{
margin:0 0 -2px 0;
padding:0 1px;
}

/* Tabmenu (index tab)選項 選擇後的效果 */
#gs32_outmailbrw .selected a, #gs32_outmailbrw .selected a:focus, #gs32_outmailbrw .selected a:hover{
background-color: #e0d9ce;
}

#gs32_outmailbrw .selected em{
color:#5b4937;
	font-weight: bold;
	height:1.4em;
}

/* Tabmenu (index tab)選項 移過去 a:hover 效果 */
#gs32_outmailbrw a:hover{
background:#e0d9ce !important;
margin:0px;
padding:0px;
}

/* Table menu 下方的div 區塊 style */
#gs32_outmailbrw .yui-content {
padding:5px;
padding-left:6px;
border: 1px solid #dbd3c6;
min-height:100px;
}
/** 輸出區塊.設成0px.不能將此值設成important否則裡面的tabview border都會被設成此屬性 **/



/*** OVERWRITE  以下都不可以定義 font-size ***/

/* 簡目瀏覽. 顯示資料的編號 fmt1head.htm */
.tdfmt1-second{
border-bottom: #CCCCCC 1px solid;
vertical-align:top;
}

/* 簡目瀏覽. 顯示資料的勾選 fmt1head.htm */

.tdfmt1-first{
border-bottom: #CCCCCC 1px solid;
font-size:10pt;
text-align:center;
vertical-align:top;
/*padding-top:3px;*/
}
.tdfmt1-first input{ margin-top:5px;}
.tableoutsimplefmt2 .std2{
    /* border-bottom: rgb(117,117,117) 1px dotted; */
    text-decoration: none;
    text-align:left;

    /*padding-left:30px;*/
}

#researchdivid{
background: #FFFFFF;
padding:0px;
}

/* 簡目瀏覽table fmt1head.htm */
#tablefmt1{
width:98%;
background-color: #FFFFFF;
}

.tdfmt1-content{
border-bottom: #CCCCCC 1px solid;
vertical-align:top;
text-align: left;
padding-bottom: 10px; 
padding-top: 0px;
}


/* 詳目瀏覽 */
.tableoutfmt2 .std1{
    border: #CCCCCC 1px solid;
    border-bottom: #FFFFFF 1px solid;
    border-top: #FFFFFF 1px solid;
    border-left: #CCCCCC 1px solid;
    background-color: #F0EBE0;
    padding: 2px;
    vertical-align: top;
    text-align: left;
    color: #5B4937;
    text-decoration: none;
    width:20%;
    font-weight: bold;
    word-wrap: break-word;
    white-space:normal;
}

.tableoutfmt2 .std2 {
    border: #CCCCCC 1px solid;
    background-color: rgb(255,255,255);
    padding: 4px;
    /***padding-left:8px;***/
    text-decoration: none;
    width:70%;
    vertical-align: top;
}

.stdncl1{
    width:0%;
}

.stdncl2{
    background-color: rgb(255,255,255);
    padding: 0px;
    color: #666666;
    text-decoration: none;
    width:100%;
}

.sstdncl1{
    width:0%;
}

.sstdncl2{
    background-color: rgb(255,255,255);
    padding-left: 10px;
    padding-top: 10px;
    color: #666666;
    text-decoration: none;
    width:100%;
}


.refine_table{
  border: #CCCCCC 0px solid;
}

.keyarea_content{
  border: #CCCCCC 0px solid;
}
.showswitch-font{
        width: 98%;
        text-align: left;
        vertical-align: middle;
        padding-top: 2px;
        padding-right: 0px;
        padding-bottom: 2px;
        padding-left: 2px;
        background-color: #F0EBE0;
        margin-top: 1px;
        margin-bottom: 5px;
        margin-right: auto;
        margin-left: auto;
        height:20px; 
}

.brwdiv{
margin-top:20px;
}


.newaccdiv{
width:80%;
text-align:center;
border: 0px solid black;
}

#fieldset-loginarea{
border: 2px solid rgb(7,104,169);
background: rgb(200,229,170) url(../images/cssgif/greengradient.png) repeat-x top;
width:60%;
margin-top:30px;
padding:20px 20px 20px 20px;
height: 200px;
}

.schfunc{
display: block; 
float: right;
line-height: 1em; 
padding-top: 12px;
padding-right: 15px;
padding-left: 10px;
margin-right: 0px;
font-size:100%;
font-weight: bold;
}

.user_div{
float:left; 

font-size:100%; margin:5px 5px 10px 5px; display:inline;
color:#FFF; height:30px;

}

.selectarea{
padding:20px;
}

.subnav{ 
font-size:100%; 
}
.subnav  a{ color:#333 }
.subnav  a:visited{ color:#333 }
.subnav  a:hover{ color:#333; text-decoration:overline; }

.cmdins_div{
width:98%;
height:250px;
overflow-y:auto ;
border: 1px solid #CCCCCC;
padding:5px;
margin-top:20px;
}


.version-switch{float:right;margin-top:1px;margin-right:16px;_margin-right:8px;color:#e2fbff;}
.version-switch a:link,.version-switch a:visited{ color:#e2fbff; text-decoration:none;}
.version-switch a:hover{color:#e2fbff; text-decoration:underline;}



/*.cont_l3{float: left;width: 15%;padding-left: 2%;padding-right: 1%;}
.cont_r3{float: right;width: 78%;padding-right: 1%;padding-left: 1%;}*/

.footer{
 color: #666;line-height: 1.5em; text-align:left;margin-top: 10px;margin-bottom: 10px;
 padding-left:5px;
 }


/*----------------------------Erica-----------------------------*/
#history{width:96%;margin-right: auto;margin-left: auto;}
#div-searchhistory{border: 1px dashed #999999;background-color:#EBF0F5;background-image:none;}
#fieldset_myhishist{border: 1px dashed #999999;background-color:#EBF0F5;background-image:none;}
#fieldset_myreshist{border: 1px dashed #999999;background-color:#EBF0F5;background-image:none; width:96%; margin-left:auto; margin-right:auto;}
#fieldset_mysdihist{border: 1px dashed #999999;background-color:#EBF0F5;background-image:none; width:96%; margin-left:auto; margin-right:auto;}

.span-searchhistory-header img{ margin-right:5px;}
.span-searchhistory-header{font-size:1.2em;font-weight:700;color:#333;}
#histoutline input.button{background-color: #e2e2e2;background: url(image/input_btn.gif) no-repeat center top;font-family: "Courier New", Courier, monospace;color: #333333;border: 1px solid #CCCCCC;text-align: center;vertical-align: middle;padding: 5px 5px 2px 5px; margin-bottom:5px;}
.button{background-color: #e2e2e2;background: url(image/input_btn.gif) no-repeat center top;font-family: "Courier New", Courier, monospace;color: #333333;border: 1px solid #CCCCCC;text-align: center;vertical-align: middle;padding: 2px 2px 2px 2px; margin-bottom:5px;}
.button1{background-color: #e2e2e2;background: url(image/input_btn.gif) no-repeat center top;font-family: "Courier New", Courier, monospace;color: #333333;border: 1px solid #CCCCCC;text-align: center;vertical-align: middle; margin-left:3px;}

.span-myreshist-header img{ margin-right:5px;}
.span-myreshist-header{font-size:1.2em;font-weight:700;color:#333;}
#span-myreshist-header img.histsign{ margin-right:5px;}
#span-myreshist-header{font-size:1.2em;font-weight:700;color:#333;}
#span-myhishist-header img.histsign{ margin-right:5px;}
#span-myhishist-header{font-size:1.2em;font-weight:700;color:#333;}
#span-mysdihist-header img.histsign{ margin-right:5px;}
#span-mysdihist-header{font-size:1.2em;font-weight:700;color:#333;}

.searchhistory-list .mainth{background-color:#a7bbcf;color:#2C4D98;padding:3px;border-right: 1px solid #ebf0f5;border-left: 1px solid #ebf0f5; border-bottom: 1px solid #ebf0f5;}
.searchhistory-list .maintd0{background-color:#fff;color:#666666;padding:3px;border-right: 1px solid #ebf0f5;border-left: 1px solid #ebf0f5;border-bottom: 1px solid #CCCCCC;}
.searchhistory-list .maintd1{background-color:#EBEBEB;color:#666666;padding:3px;border-right: 1px solid #ebf0f5;border-left: 1px solid #ebf0f5;border-bottom: 1px solid #CCCCCC;}
.searchhistory-list .maintd0 .tlink:link,.searchhistory-list .maintd0 .tlink:visited,.searchhistory-list .maintd1 .tlink:link,.searchhistory-list .maintd1 .tlink:visited{color:#2C4D98; font-weight:normal;}
.searchhistory-list .maintd0 .tlink:hover,.searchhistory-list .maintd1 .tlink:hover{color:#5579CE;}

.myres_sop_table .mainth{background-color:#a7bbcf;color:#2C4D98;padding:3px;border-right: 1px solid #ebf0f5;border-left: 1px solid #ebf0f5;}
.myres_sop_table .maintd0{background-color:#fff;color:#666666;padding:3px;border-right: 1px solid #ebf0f5;border-left: 1px solid #ebf0f5;border-bottom: 1px solid #CCCCCC;}
.myres_sop_table .maintd1{background-color:#EBEBEB;color:#666666;padding:3px;border-right: 1px solid #ebf0f5;border-left: 1px solid #ebf0f5;border-bottom: 1px solid #CCCCCC;}
.myres_sop_table .maintd0 .tlink:link,.myres_sop_table .maintd0 .tlink:visited,.myres_sop_table .maintd1 .tlink:link,.myres_sop_table .maintd1 .tlink:visited{color:#2C4D98; font-weight:normal;}
.myres_sop_table .maintd0 .tlink:hover,.myres_sop_table .maintd1 .tlink:hover{color:#5579CE;}

.myhis_sop_table .mainth{background-color:#a7bbcf;color:#2C4D98;padding:3px;border-right: 1px solid #ebf0f5;border-left: 1px solid #ebf0f5;}
.myhis_sop_table .maintd0{background-color:#fff;color:#666666;padding:3px;border-right: 1px solid #ebf0f5;border-left: 1px solid #ebf0f5;border-bottom: 1px solid #CCCCCC;}
.myhis_sop_table .maintd1{background-color:#EBEBEB;color:#666666;padding:3px;border-right: 1px solid #ebf0f5;border-left: 1px solid #ebf0f5;border-bottom: 1px solid #CCCCCC;}
.myhis_sop_table .maintd0 .tlink:link,.myhis_sop_table .maintd0 .tlink:visited,.myhis_sop_table .maintd1 .tlink:link,.myhis_sop_table .maintd1 .tlink:visited{color:#2C4D98; font-weight:normal;}
.myhis_sop_table .maintd0 .tlink:hover,.myhis_sop_table .maintd1 .tlink:hover{color:#5579CE;}

.mysdi_sop_table .mainth{background-color:#a7bbcf;color:#2C4D98;padding:3px;border-right: 1px solid #ebf0f5;border-left: 1px solid #ebf0f5;}
.mysdi_sop_table .maintd0{background-color:#fff;color:#666666;padding:3px;border-right: 1px solid #ebf0f5;border-left: 1px solid #ebf0f5;border-bottom: 1px solid #CCCCCC;}
.mysdi_sop_table .maintd1{background-color:#EBEBEB;color:#666666;padding:3px;border-right: 1px solid #ebf0f5;border-left: 1px solid #ebf0f5;border-bottom: 1px solid #CCCCCC;}
.mysdi_sop_table .maintd0 a:link,.mysdi_sop_table .maintd0 a:visited,.mysdi_sop_table .maintd1 a:link,.mysdi_sop_table .maintd1 a:visited{color:#2C4D98; font-weight:normal; text-decoration:none;}
.mysdi_sop_table .maintd0 a:hover,.mysdi_sop_table .maintd1 a:hover{color:#5579CE; text-decoration:underline;}

.search_bar{display:block;background-color: #F1F1F1;border: 1px dotted #D1D1D1;padding: 5px;margin-right: auto;margin-left: auto; width:96%}
#showswitch-kwc-menuswitch li,
#showswitch-kwe-menuswitch li,
#showswitch-sc-menuswitch li,
#showswitch-dp-menuswitch li,
#showswitch-adc-menuswitch li,
#showswitch-ade-menuswitch li,
#showswitch-yr-menuswitch li{ list-style:outside; margin-left:20px;clear:both;}
#gs32_outputresult .yui-content:after {content: "."; display: block;height: 0; clear: both; visibility: hidden;} 

.issue_newrectable{ width:96%;color:#333; font-family:Arial, Helvetica, sans-serif;font-size:1em;}
.issue_new_div{border-bottom: 1px dashed #666666;}
.issue_new_div h4{ font-size:1.2em;}
.fieldb,.fieldn{color:black;}
.gs32_font10,.dispcheckimg_div,.font10{color:#333;}
.readonlyfont{font-size:0.8em;}
.tmaintd{ line-height:1.8em;}
input{vertical-align:middle;}
input[type="radio"]{vertical-align:-1px;vertical-align:middle\9;}

/*************gshot style *************/
.gshotbrw_limit_div{
width:98%;
background-color: #F6F4F2;
border-collapse:separate;
border-collapse:collapse;
border: rgb(117,117,117) 1px solid;
margin-bottom:5px;
}

.table-hotbrwpmenu{
padding:0 0 0 0;
}


.redbutton{
background-color: #e2e2e2;background: url(image/input_btn.gif) no-repeat center top;
font-family: "Courier New", Courier, monospace;color: #333333;border: 1px solid #CCCCCC;
text-align: center;vertical-align: middle;padding: 2px 2px 2px 2px; margin-bottom:5px;
color: #FF0000;
}

.share_text_size{
width:200px;
}


/*** 影響力功能 => 分成table view 方式***/

#gs32_impactrating{
margin:5px;
} 

/*** Tabmenu 包含整個(index tab)上方區塊 style***/
#gs32_impactrating .yui-nav{
border-bottom:2px #92b23c solid;

x-position:relative;
zoom:1;
background:#FFFFFF;
margin-top:3px;
width:100%;
}


/* Tabmenu (index tab)選項之間的間距*/ 
#gs32_impactrating .yui-nav li{
margin:0px;
padding:0 1px 0 0; 
}

/* Tabmenu (index tab)選項 選擇後的效果*/
#gs32_impactrating .selected a, #gs32_impactrating .selected a:focus, #gs32_impactrating .selected a:hover{
background:#92b23c; 

} 

#gs32_impactrating .yui-nav .selected em{
font-size:120%;
font-weight: bold;
}

/* Tabmenu (index tab)選項 移過去 a:hover 效果*/ 
#gs32_impactrating .yui-nav a:hover{
background:#d9ef9f;
margin:0px;
padding:0px;
}


/* Table menu 下方的div 區塊 style */
#gs32_impactrating .yui-content {
padding:1px;
border: 1px solid #CCCCCC;
min-height:100px;
}

.yui-content #far_disp1 table,.yui-content #far_disp2 table,.yui-content #far_disp3 table,.yui-content #far_disp4 table,.yui-content #a1 table,.yui-content #a2 table,.yui-content #a3 table,.yui-content #a4 table,.yui-content #ckr_disp1 table,.yui-content #ckr_disp2 table,.yui-content #ckr_disp3 table,.yui-content #ckr_disp4 table,.yui-content #ckr_disp5 table,.yui-content #ckr_disp6 table,.yui-content #dlr_disp1 table,.yui-content #dlr_disp2 table,.yui-content #dlr_disp3 table,.yui-content #dlr_disp4 table,.yui-content #dlr_disp5 table,.yui-content #dlr_disp6 table,
.yui-content #far_disp1 td,.yui-content #far_disp2 td,.yui-content #far_disp3 td,.yui-content #far_disp4 td,.yui-content #a1 td,.yui-content #a2 td,.yui-content #a3 td,.yui-content #a4 td,.yui-content #ckr_disp1 td,.yui-content #ckr_disp2 td,.yui-content #ckr_disp3 td,.yui-content #ckr_disp4 td,.yui-content #ckr_disp5 td,.yui-content #ckr_disp6 td,.yui-content #dlr_disp1 td,.yui-content #dlr_disp2 td,.yui-content #dlr_disp3 td,.yui-content #dlr_disp4 td,.yui-content #dlr_disp5 td,.yui-content #dlr_disp6 td{border: 1px solid #FFFFFF;}

.yui-content #rcm_disp1 td,.yui-content #rcm_disp2 td,.yui-content #rcm_disp3 td,.yui-content #rcm_disp4 td,.yui-content #a1 td,.yui-content #a2 td,.yui-content #a3 td,.yui-content #a4 td,.yui-content #rcm_disp1 td,.yui-content #rcm_disp2 td,.yui-content #rcm_disp3 td,.yui-content #rcm_disp4 td,.yui-content #rcm_disp5 td,.yui-content #rcm_disp6 td,.yui-content #rcm_disp1 td,.yui-content #rcm_disp2 td,.yui-content #rcm_disp3 td,.yui-content #rcm_disp4 td,.yui-content #rcm_disp5 td,.yui-content #rcm_disp6 td{border: 1px solid #FFFFFF;}

.yui-content #clt_disp1 td,.yui-content #clt_disp2 td,.yui-content #clt_disp3 td,.yui-content #clt_disp4 td,.yui-content #a1 td,.yui-content #a2 td,.yui-content #a3 td,.yui-content #a4 td,.yui-content #clt_disp1 td,.yui-content #clt_disp2 td,.yui-content #clt_disp3 td,.yui-content #clt_disp4 td,.yui-content #clt_disp5 td,.yui-content #clt_disp6 td,.yui-content #clt_disp1 td,.yui-content #clt_disp2 td,.yui-content #clt_disp3 td,.yui-content #clt_disp4 td,.yui-content #clt_disp5 td,.yui-content #clt6 td{border: 1px solid #FFFFFF;}

/** 輸出區塊.設成0px.不能將此值設成important否則裡面的tabview border都會被設成此屬性 **/

.linfo_table{
margin:10px;
border: 1px solid #CCCCCC;
}
.linfo_table td{
padding:3px;
border: 1px solid #CCCCCC;
text-align:left;
}


/* 簡目瀏覽. 欄位值td styles */
.impmaintd0 {
        border-bottom: #CCCCCC 1px solid;
        text-align:center;
        padding:3px;
}

.impmaintd1 {
        border-bottom: #CCCCCC 1px solid;
        text-align:center;
        padding:3px;
}

.impmaintdc{
        border-bottom: #CCCCCC 1px solid;
        text-align:left;
        padding:3px;
        padding-left:15px;  
}

.personsetimg{
width:50px;
}

.shareleft_div{
width:150px;
border: #CCCCCC 0px solid;
float:left;
text-align:left;
}

.suggest_span{
font-size:80%;
color: #0099CC;
}

.imp_timezone_div{text-align:right;padding-right:10px;}

.ctzlink .ctzlink:active, .ctzlink:link, .ctzlink:visited, .ctzlink:hover {
    text-decoration: none;
    color: red;
}

.ctzlink:hover {
    text-decoration: underline;
    color: red;
}
.brwabstract_fmtmod{
/* border: 1px dotted black; */
width:;
padding:10px;
margin-bottom:10px;
font-size:10pt;
background-color:white;
}
.apply{
text-align:center;
}

.fullhight_light{
color:#FD7D7D;
}

.fullfont{
color:#097E93;
}

.login_bar{ position:absolute; top:8px;right:210px;}


.helper2bigger{color:#ba5555;display: block;float: right;line-height: 1em;padding-top: 6px;padding-left: 10px;margin-right: 10px;}

.contenttitle_full {
        font-size: 140%;
        font-weight: bold; background:url(image/icon1.gif) left no-repeat;

        height: 20px;
        width: 6em;
        padding-left: 20px;
        font-style: normal;
        clear: both;
        white-space: nowrap;
        display: block;
        padding-bottom: 5px;
        border-bottom:1px solid #DDDDDD;
        width:99%;
        margin:8px 0 5px 0;
}


/*
fieldset.news_brwurl li a{
font-size:12pt;
color:red;
font-weight: bold;
}
*/


.whitefont{
color:#FFFFFF;
font-size:120%;
}

.brwabstract_fmtmod{
/* border: 1px dotted black; */
width:98%;
padding:10px;
margin-bottom:10px;
font-size:10pt;
background-color: #F0EEE9;
}

/*** 詳目相關論文功能 => 分成table view 方式***/

#gs32_record_relative{
margin:5px;
} 

/*** Tabmenu 包含整個(index tab)上方區塊 style***/
#gs32_record_relative .yui-nav{
border:solid #737374;
border-width:0 0 1px 0;
x-position:relative;
zoom:1;
background:#FFFFFF;
margin-top:2px;
width:100%;
}


/* Tabmenu (index tab)選項之間的間距*/ 
#gs32_record_relative .yui-nav li{
margin:0px;
padding:0 1px 0 0;
}

/* Tabmenu (index tab)選項 選擇後的效果*/
#gs32_record_relative .selected a, #gs32_record_relative .selected a:focus, #gs32_record_relative .selected a:hover{
background:#e1dbd0 url(/gs32/nclcdr/image/etds_tag_ac.gif)  repeat-x bottom !important;
*border: #CCCCCC 1px;
} 

#gs32_record_relative .yui-nav .selected em{
font-size:120%;
font-weight: bold;
}

/* Tabmenu (index tab)選項 移過去 a:hover 效果*/ 
#gs32_record_relative .yui-nav a:hover{
background:#C98F8F !important;
margin:0px;
padding:0px;
}


/* Table menu 下方的div 區塊 style */
#gs32_record_relative .yui-content {
padding:1px;
border: 1px solid #CCCCCC;
min-height:100px;
}

.fb{
  text-align:center;
  background-color: #918E5B;
  color: #fff;
  padding:3px;
}

.smtsearch_table_td2{
padding-left:10px;
}

.noneborder{
border: 0px solid #CCCCCC !important;
}

.helper3{color:#0e6470;display: block;float: right;line-height: 1em;padding-top: 20px;padding-left: 10px;margin-right: 10px;}

.mainnav{
        width:980px;
        height:35px;
        line-height:35px;
        bottom: 0px;
        }
.mainnav li{
        float:left;}

.mainnav li a{
        display:block;
        padding-right: 16px;
        padding-left: 16px;
        border-right: 1px solid #FFF;
        color: #FFF;
        text-decoration: none;
        font: 125.3%/35px "微軟正黑體", sans-serif;
}
.mainnav li a:visited{
        color: #FFF;
}
.mainnav li a:hover{
        background:#F7F7F7;
        color:#36C;
}
.mainnav li a:active{
        color:#36C;
}

.tabview_table td, tr{
  margin:0px;
  padding:0px;
  /*height:6px;*/
}
.tabview_table .divtab{
  width:100%;
  height:100%;
  background-color:#999;
}

.manage_adc{
    border: none;
    border: rgb(117,117,117) 1px solid;
    margin-top:5px;
    margin-left:20px;
    width: 95%;
}

.manage_adc_td1{
  padding:20px;
  background-color:#CBCBCB;
}

.addadgrp{
padding-right:20px;
text-align:right;
font-size:140%;
position:relative;
}

.layout_in_table{
width:100%;
    border: none;
}

.layout_dp_table{
width:100%;
    border: none;
}

.intd1{
width:13.5%;
    border: none;
}
.dptd1{
width:13.5%;
    border: none;
}

.adgrp_td1{
width:200px;
}


.auth1_opt3_div1{
padding-left:30px;
border: rgb(117,117,117) 0px solid;
}

.auth2_opt1_div1{
padding-left:30px;
border: rgb(117,117,117) 0px solid;
}


.auth2_opt2_div1{
padding-left:30px;
border: rgb(117,117,117) 0px solid;
}

.auth2_opt2_div2{
padding-left:30px;
border: rgb(117,117,117) 0px solid;
}


.full_auth1_div1{
padding-top:5px;
padding-left:30px;
padding-bottom:5px;
}

.full_auth2_div1{
padding-top:5px;
padding-left:30px;
padding-bottom:5px;
}

.full_auth3_div1{
padding-top:5px;
padding-left:30px;
padding-bottom:5px;
}

.full_auth4_div1{
padding-top:5px;
padding-left:30px;
padding-bottom:5px;
}

.auth3_area_td2{
font-size: 11pt;
padding-bottom: 10px;
}

#fb32fmt0disparea{
width:100%;
}
.inputbox{
line-height:200%;
}
