/* #fontset.css Launch: 11/25/08 # Revise: 04/03/09 */

.gs32sys_table01{font-size:100%;}
.inputbox{font-size:100%;}
.selectstyle{font-size:100%;}
.button{font-size:100%;}
.gs32sys_span01{font-size:100%;}
.brwrestable{font-size:100%;}
#researchdivid{font-size:100%;}
select{font-size:100%;}
input{font-size:100%;}
table{font-size:100%;}
link{font-size:100%;}
td{font-size:100%;}
th{font-size:100%;}
li{font-size:100%;}
ul{font-size:100%;}
li{font-size:100%;}
em{font-size:100%;}
.gs32sys_12pt{font-size:100%;}
.tdfmt1-second{font-size:100%;}
.tableoutsimplefmt1 .std1{font-size:100%;}
.tableoutsimplefmt1 .std2{font-size:100%;}
.tdfmt1-content{font-size:100%;}
.tableoutsimplefmt2 .std1{font-size:100%;}
.tableoutsimplefmt2 .std2{font-size:100%;}
.tdfmt1-view{font-size:100%;}
.gs32_font11_table{font-size:100%;}
.tableoutfmt2 .std1{font-size:100%;}
.tableoutfmt2 .std2{font-size:100%;}
.tableoutfmt1{font-size:100%;}
.tableoutfmt2 .fmt0lv_std1{font-size:100%;}
.tableoutfmt2{font-size:100%;}
#seloutputmenu .yui-nav li{font-size:100%;}
#outputrecords .yui-content {font-size:100%;}
.gs32sys_span01{font-size:100%;}
#outputfield .yui-content{font-size:100%;}
.gs32sys_link13{font-size:100%;}
.gs32sys_link10{font-size:100%;}
.tmaintd{font-size:100%;}
#outputfield .yui-nav{font-size:100%;}
.yui-nav{font-size:100%;}
.refine_table th{font-size:100%;}
.refine_table td{font-size:100%;}
.swsybfont_refined{font-size:100%;}
.keyarea_title{font-size:100%;}
.redbutton{font-size:100%;}
